<div class="login-container">
  <h2 class="login-title">tailwebs.</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "login-form", id: 'new-password'}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="login-field">
      <i class="fa-regular fa-envelope"></i>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>

    <div class="login-actions">
      <%= f.submit "Send Instructions", class: "login-button" %>
    </div>
  <% end %>

  <div class="back-to-login">
    <%= link_to "Sign In", new_user_session_path, id: 'back-to-login'%>
  </div>
</div>
